<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="shop-home">

  <template>

    <style>

      :host {
        display: block;
        padding-top: 15px;
        padding-bottom: 40px; 
        padding-right: 5px;
        padding-left: 5px;
      }

        .section {
            width: 100%;
        }

        .w-clearfix:before,
        .w-clearfix:after {
          content: " ";
          display: table;
          }

        .w-clearfix:after {
          clear: both;
        }

        .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;    
        position: relative;
        padding: 5px;
        border-radius: 0px;
        background-color: #fff;
        }

        .container:before,
        .container:after {
          content: " ";
          display: table;
        }
        .container:after {
          clear: both;
        }

        .w-inline-block {
          max-width: 100%;
          display: inline-block;
        }

        ._60block {
          width: 58%;
          height: 300px;
          padding: 5px;
          float: left;
        }

        ._40block {
          position: relative;
          width: 39%;
          height: 300px;
          padding: 5px;
          float: left;
        }

        ._33block {
          width: 32%;
          height: 300px;
          padding: 5px;
          float: left;
        }

        .hero-tile {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;
          cursor: pointer;
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        }

        .tile-image {
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          height: 100%;
          border-radius: 0px;
          background-image: url('../images/Hemp-in-Greenhouse.jpg');
          background-position: 50% 95%;
          background-size: cover;
          -webkit-transition: -webkit-transform 1000ms ease;
          transition: -webkit-transform 1000ms ease;
          transition: transform 1000ms ease;
          transition: transform 1000ms ease, -webkit-transform 1000ms ease;
        }

        .tile-image:hover {
          -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
          transform: scale(1.03);
        }

        .tile-text {
          font-family: 'Mukta Malar', sans-serif;
          position: absolute;
          left: 25px;
          bottom: 24px;
          z-index: 20;
          margin-bottom: 20px;
          color: #fff;
          font-size: 32px;
          line-height: 30px;
          font-weight: 800;
          text-align: left;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-shadow: 1px 1px 6px rgba(0, 0, 0, .37);
        }

        .tile-text.special {
          margin-top: 0px;
          margin-bottom: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .div-block-3 {
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        }

        .social-block {
          width: 50%;
          height: 150px;
          float: left;
          background-color: #55acee;
          background-image: url('../images/twitter.svg');
          background-position: 50% 50%;
          background-size: 50px;
          background-repeat: no-repeat;
          -webkit-transition: background-color 400ms ease;
          transition: background-color 400ms ease;
        }

        .social-block:hover {
          background-color: #3d90cf;
        }

        .social-block.facebook {
          background-color: #3765a3;
          background-image: url("'../images/facebook.svg'");
          background-size: 50px;
        }

        .social-block.facebook:hover {
          background-color: #23528f;
        }

        .social-block.pinterest {
          background-color: #1884bb;
          background-image: url('../images/linkedin.svg');
          background-size: 50px;
        }

        .social-block.pinterest:hover {
          background-color: #136792;
        }

        .social-block.dribbble {
          display: inline-block;
          background-color: #e04c86;
          background-image: url('../images/instagram.svg');
          background-size: 50px;
        }

        .social-block.dribbble:hover {
          background-color: #c02c67;
        }

        .tile-image.products {
          background-image: url('../images/IMG_1942-01.jpg');
          background-position: 70% 50%;
          background-size: cover;
        }

        .tile-image.contact-us {
          background-image: url('../images/D-and-Q.jpg');
          background-position: 50% 50%;
          background-size: cover;
        }

        .tile-image.smokeroom {
          background-image: url('../images/Smoke.jpg');
          background-position: 50% 50%;
          background-size: cover;
        }

        @media (max-width: 1040px) {
          :host {
              display: block;
              padding-top: 0px;
              padding-bottom: 40px; 
              padding-right: 0px;
              padding-left: 0px;
            }

            .container {
                box-shadow: none;
            }

            h1 {
              padding-right: 5px;
              padding-left: 5px;
              font-size: 24px;
              line-height: 32px;
              text-shadow: 1px 1px 6px rgba(0, 0, 0, .38);
            }

          .tile-text {
              left: 22px;
              bottom: 22px;
              font-size: 30px;
              line-height: 33px;
          }

          .hero-tile {
              box-shadow: -1px 1px 6px 0 rgba(42, 42, 42, .65);
          }

          ._60block {
              padding-left: 0;
              padding-right: 0;
              width: 100%;
          }

          .tile-image {
              margin-top: 0px;
              margin-bottom: 0px;
              box-shadow: -1px 1px 6px 0 rgba(0, 0, 0, .65);
          }
          .tile-text {
              left: 30px;
              bottom: 30px;
              font-size: 35px;
              line-height: 35px;
          }
          .tile-text.special {
              padding-left: 0px;
          }
          ._40block {
              padding-left: 0;
              padding-right: 0;
              width: 100%;
          }
          ._33block {
              padding-left: 0;
              padding-right: 0;
              width: 100%;
          }

        }
    </style>

<iron-media-query query="max-width: 1044px" query-matches="{{smallScreen}}"></iron-media-query>

<div class="section">
  <div class="container">
    <div class="w-clearfix">
      <div class="_60block" data-ix="tile-1">
        <a class="hero-tile w-inline-block" href="/what-is-cbd">
          <div class="tile-image">
            <h1 class="special tile-text">What is<br>CBD?</h1>
          </div>
        </a>
      </div>
      <div class="_40block" data-ix="tile-3">
        <div class="hero-tile">
          <a class="tile-link w-inline-block" href="/shop-cbd">
            <div class="products tile-image">
              <h1 class="special tile-text">Shop <br>CBD</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="_33block" data-ix="tile-2">
        <a class="hero-tile w-inline-block" href="epilepsy-outreach">
          <div class="contact-us tile-image">
            <h1 class="special tile-text">Epilepsy Outreach</h1>
          </div>
        </a>
      </div>
      <div class="_33block" data-ix="tile-3">
        <div class="hero-tile">
          <a class="tile-link w-inline-block" href="the-smokeroom">
            <div class="smokeroom tile-image">
              <h1 class="special tile-text">The <br>Smokeroom</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="_33block" data-ix="tile-4">
        <div class="div-block-3 w-clearfix">
          <a class="social-block w-inline-block" href="#"></a>
          <a class="facebook social-block w-inline-block" href="https://www.facebook.com/Purecbdexchange/" target="_blank"></a>
          <a class="pinterest social-block w-inline-block" href="#"></a>
          <a class="dribbble social-block w-inline-block" href="https://www.instagram.com/purecbdexchange/" target="_blank"></a></div>
      </div>
    </div>
  </div>
</div>

  </template>

  <script>

    class ShopHome extends Polymer.Element {

      static get is() { return 'shop-home'; }

      static get properties() { return {

        categories: {
          type: Array
        },

        visible: {
          type: Boolean,
          observer: '_visibleChanged'
        }

      }}

      _visibleChanged(visible) {
        if (visible) {
          this.dispatchEvent(new CustomEvent('change-section', {
            bubbles: true, composed: true, detail: {title: 'Home'}}));
        }
      }

    }

    customElements.define(ShopHome.is, ShopHome);

  </script>

</dom-module>
