<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-layout/helpers/helpers.html">

<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="shop-category-data.html">
<!-- Since 'home' is the default route, eagerly load it. -->
<link rel="import" href="shop-home.html">
<link rel="lazy-import" href="shop-shop-cbd.html">
<link rel="lazy-import" href="shop-what-is-cbd.html">
<link rel="lazy-import" href="shop-privacy-policy.html">
<link rel="lazy-import" href="shop-terms-and-conditions.html">
<link rel="lazy-import" href="shop-return-policy.html">

<dom-module id="shop-app">

  <template>
    
      <firebase-app auth-domain="pure-cbd-exchange.firebaseapp.com"
      database-url="https://pure-cbd-exchange.firebaseio.com/"
      api-key=" AIzaSyDjknzPmq86mkByrT9X9cZTxNx7zavj24E">
      </firebase-app>

    <style>
      :host {
        display: block;
        position: relative;
        min-height: 100vh;
        font-family: 'Mukta Malar', sans-serif;
        --app-primary-color: #004a00;
        --app-secondary-color: #2a2a2a;
        --app-accent-color: #eee;
        --app-third-color: #25ac6a;
        --paper-button-ink-color: var(--app-accent-color);
        --paper-icon-button-ink-color: var(--app-accent-color);
        --paper-spinner-color: var(--app-accent-color);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: var(--app-secondary-color);
      }
      app-header {
        color: var(--app-accent-color);
        text-align: center;
        --app-header-background-front-layer: {
          background-image: url(../../images/mountains.jpg);
        };
        --app-header-background-rear-layer: {
            background-color: var(--app-primary-color);
        };
      }
        paper-icon-button {
        color: white;
        --paper-icon-button-ink-color: white;
      }
      
      .main-logo {
          width: 200px;
          margin-top:150px;
          z-index: 10;
        }
        .condensed-logo {
          margin-top: 12px;
          margin-left: 10px;
          width:50px;
        }
        .app-drawer {
          background-color: var(--app-secondary-color);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        }
      .my-account {
          color: var(--app-primary-color);
        }
      .cart-btn-container {
        float: right;
        display: -webkit-flex;
        display: flex;
        z-index: 5;
       }
      .announcer {
        position: fixed;
        height: 0;
        overflow: hidden;
      }
      :host(:not([page=detail])) .back-btn {
        display: none;
      }
      [hidden] {
        display: none !important;
      }
      .cart-badge {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 13px;
        font-weight: 500;
        pointer-events: none;
        @apply --layout-vertical;
        @apply --layout-center-center;
        font-family: 'Mukta Malar', sans-serif;
      }
      .cart-badge-2.cart-badge {
        position: relative;
        top: 0;
        right: 0;
        margin-right: 10px;
        margin-bottom: -17px;
        z-index: 3;
      }
      .title-container {
          height: 220px;
          width: 100%;
          padding-bottom: 15px;
          background-image: -webkit-linear-gradient(270deg, rgba(0, 74, 10, .7), rgba(0, 74, 10, .7)),url(../../images/closeHempPlants.jpg);
          background-image: linear-gradient(180deg, rgba(0, 74, 10, .7), rgba(0, 74, 10, .7)), url(../../images/closeHempPlants.jpg);
          background-position: 0px 0px, 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
         }
         .title {
           color: white;
           padding-left: 15px;
           padding-right: 13px;
           z-index: 10;
           font-family: 'Mukta Malar', sans-serif;
           font-size: 18px;
           margin-bottom: 3px;
         }
         .text-muted-small {
           color:white;
           font-size: 14px;
           opacity: 0.8;
           padding-left: 15px;
           padding-right: 13px;
           font-family: 'Montserrat';
           font-weight: 300;
         }
         .top-menu-section {
           padding-top: 6px;
           padding-bottom: 6px;
           border-bottom: 1px solid var(--app-accent-color);
         }
         .shop-menu-section {
          padding-top: 4px;
          padding-bottom: 4px;
          border-bottom: 1px solid var(--app-accent-color);
         }
         .menu-list {
          font-family: 'Mukta Malar', sans-serif;
          font-weight: bold;
          color: #333;
         }
         .menu-list-items {
          width: 100%;
         }
         .menu-icons {
           width: 21px;
           margin-top: -5px;
           padding-left: 5px;
           padding-right: 12px;
         }
         .flexed-links {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 7px;
          padding-bottom: 7px;
          padding-left: 20px;
          font-size: 18px;
         }
         a.flexed-links {
           color: var(--app-secondary-color);
         }

         a.flexed-links.w--current {
           color: var(--app-third-color);
         }

         .small-links {
          padding-left: 55px;
         }
         .smaller-icon {
           width: 15px !important;
           height: 25px;
         }
         .category-links {
          font-size: 14px;
         }

         a {
          text-decoration: none;
         }

         a:active {
          color: var(--app-primary-color);
          background-color: var(--app-accent-color);
         }

         .footer-section {
          padding-top: 23px;
          padding-bottom: 23px;
          background-color: #2a2a2a;
        }
        
        .footer-container {
          margin-left: auto;
          margin-right: auto;
          max-width: 940px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: baseline;
          -webkit-align-items: baseline;
          -ms-flex-align: baseline;
          align-items: baseline;
        }

        .footer-link-block {
          max-width: 100%;
          display: inline-block;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding-bottom: 30px;
        }

        .image {
          width: 160px;
          margin-bottom: 10px;
        }

        .footer-text-block {
          color: #fff;
          font-family: 'Mukta Malar', sans-serif;
        }
        .first-over {
          padding-top: 0px;
          padding-left: 80px;
        }
        .footer-headers {
          font-family: 'Mukta Malar', sans-serif;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
        .footer-lists {
          -webkit-margin-before: 0.5em;
          -webkit-margin-after: 1em;
          padding: 0;
          font-family: 'Mukta Malar', sans-serif;
          padding-left: 0;
          list-style: none;
          color: #fff;
      }
      .footer-link {
        color: #fff;
      }
      a:hover {
        color: var(--app-third-color) !important;
      }
      .footer-link:visited {
        color: #fff !important;
      }
      .lower-footer-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left;
      }
      .follow-us-div {
        padding-top: 5px;
        padding-bottom: 30px;
      }
      .social-link-block {
        max-width: 100%;
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
      }
      .social-image {
        width: 25px;
      }
      .privacy-text {
        font-family: 'Mukta Malar', sans-serif;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
      }
      a.privacy-text-links {
        color: var(--app-third-color);
      }
      a.privacy-text-links:visited {
        color: var(--app-third-color);
        text-decoration: none;
      }

      .bold {
        font-weight: 900;
      }
            
      @media (max-width: 812px) {
        :host {
            display: block;
        }
          
          .app-drawer {
            background-color: var(--app-secondary-color);
            box-shadow: none;
          }

          .title-container {
            height: 135px;
          }

          .footer-container {
            padding-right: 20px;
            padding-left: 20px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
          }

          .first-over {
            padding-left: 0;
          }

          .lower-footer-container {
            padding-right: 20px;
            padding-left: 20px;
          }

          .footer-link-block {
            width: 100%;
          }
      }
    </style>
    <!--
      app-location and app-route elements provide the state of the URL for the app.
    -->
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <iron-media-query query="max-width: 1040px" query-matches="{{smallScreen}}"></iron-media-query>

    <!--
      shop-category-data provides the list of categories.
    -->
    <shop-category-data categories="{{categories}}"></shop-category-data>

    <!--
      shop-cart-data maintains the state of the user's shopping cart (in localstorage) and
      calculates the total amount.
    -->
  <shop-cart-data
        id="cart"
        cart="{{cart}}"
        num-items="{{numItems}}"
        total="{{total}}"></shop-cart-data>

  <app-drawer-layout>
      <app-drawer class="app-drawer" slot="drawer" opened="{{drawerOpened}}" swipe-open tabindex="0">
       <div class="title-container">
           <p class="title">Pure CBD Exchange</p>
            <span class="text-muted-small">Pure CBD Isolates, Oils, Tinctures, and More</span>
            </div>
            <div class="top-menu-section">
              <div class="menu-list">
                <div><a class="flexed-links" href="/"><img class="menu-icons" src="images/home-icon.svg">Home</a></div>
                <div><a class="flexed-links" href="/what-is-cbd"><img class="menu-icons" src="images/weed-leaf.svg">What Is CBD?</a></div>
              </div>
            </div>

            <div class="shop-menu-section menu-list">
                <div><a class="flexed-links" href="/shop-cbd"><img class="menu-icons smaller-icon" src="images/tincture.svg">Shop CBD</a></div>
                <iron-selector role="navigation" class="category-links" selected="[[categoryName]]" attr-for-selected="name">
                    <template is="dom-repeat" items="[[categories]]" as="category" initial-count="4">
                      <div><a class="flexed-links small-links" name="[[category.name]]" href="/list/[[category.name]]">[[category.title]]</a></div>
                    </template>
                  </iron-selector>
            </div>
            <div class="shop-menu-section menu-list">
              <div><a class="flexed-links" href=""><paper-icon-button class="my-account" icon="social:person"></paper-icon-button>My Account</a></div>
              <a class="flexed-links" href="/cart" tabindex="-1">
                <div>
                    <div class="cart-badge cart-badge-2" aria-hidden="true" hidden$="[[!numItems]]">[[numItems]]</div>
                    <paper-icon-button class="my-account" icon="shopping-cart" aria-label$="Shopping cart: [[_computePluralizedQuantity(numItems)]]"></paper-icon-button>
                </div>
                Cart
              </a>
          </div>
            <div class="top-menu-section menu-list">
                <div><a class="flexed-links" href=""><img class="menu-icons" src="../images/question.svg">Help and Feedback</a></div>
            </div>
          </app-drawer>
          <app-header-layout>
            <app-header style="height: 350px;" condenses fixed slot="header" effects="waterfall parallax-background blend-background resize-snapped-title">
              <app-toolbar>
                <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                <div condensed-title>
                  <a href="/"><img class="condensed-logo" src="images/whiteLogoNoCBD.svg"></a>
                </div>
                <div class="cart-btn-container">
                  <a href="/cart" tabindex="-1">
                    <paper-icon-button icon="shopping-cart" aria-label$="Shopping cart: [[_computePluralizedQuantity(numItems)]]"></paper-icon-button>
                  </a>
                  <div class="cart-badge" aria-hidden="true" hidden$="[[!numItems]]">[[numItems]]</div>
                </div>
              </app-toolbar>
              <app-toolbar style="height: 64px;">
                <div main-title>
                  <a href="/"><img class="main-logo" src="images/newLogoWhite.svg"></a>
                </div>
              </app-toolbar>
            </app-header>

    <iron-pages 
    role="main" 
    selected="[[page]]" 
    attr-for-selected="name" 
    selected-attribute="visible" 
    fallback-selection="404">
      <!-- home view -->
      <shop-home name="home" categories="[[categories]]"></shop-home>

      <shop-what-is-cbd name="what-is-cbd"></shop-what-is-cbd>

      <shop-shop-cbd name="shop-cbd"></shop-shop-cbd>

      <shop-terms-and-conditions name="terms-and-conditions"></shop-terms-and-conditions>
      
      <shop-privacy-policy name="privacy-policy"></shop-privacy-policy>

      <shop-return-policy name="return-policy"></shop-return-policy>
      <!-- list view of items in a category -->
      <shop-list name="list" route="[[subroute]]" offline="[[offline]]"></shop-list>
      <!-- detail view of one item -->
      <shop-detail name="detail" route="[[subroute]]" offline="[[offline]]"></shop-detail>
      <!-- cart view -->
      <shop-cart name="cart" cart="[[cart]]" total="[[total]]"></shop-cart>
      <!-- checkout view -->
      <shop-checkout name="checkout" cart="[[cart]]" total="[[total]]" route="{{subroute}}"></shop-checkout>

      <shop-404-warning name="404"></shop-404-warning>
    </iron-pages>

    <div class="footer-section">
      <div class="footer-container"><a href="" class="footer-link-block"><img src="images/newLogoWhite.svg" class="image"><div class="footer-text-block">© Pure Exchange LLP 2016</div></a>
        <div class="first-over">
          <div class="footer-headers">Policies</div>
          <ul class="footer-lists">
            <li><a href="/privacy-policy" class="footer-link">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions" class="footer-link">Terms and Conditions</a></li>
            <li><a href="/return-policy" class="footer-link">Return Policy</a></li>
            <li><a href="" class="footer-link">Shipping Policy</a></li>
          </ul>
        </div>
        <div>
          <div class="footer-headers">Get in Touch</div>
          <ul class="footer-lists">
            <li><a href="" class="footer-link">Wholesale Inquiries</a></li>
            <li><a href="" class="footer-link">Help and Feedback</a></li>
            <li><a href="" class="footer-link">Contact Us</a></li>
          </ul>
        </div>
        <div>
          <div class="footer-headers">Environmental Impact</div>
          <ul class="footer-lists">
            <li><a href="" class="footer-link">Lab Results</a></li>
            <li><a href="" class="footer-link">Green Servers</a></li>
          </ul>
        </div>
        <div>
          <div class="footer-headers">Shop CBD</div>
          <ul class="footer-lists">
            <li><a href="" class="footer-link">Filler Link</a></li>
            <li><a href="" class="footer-link">Filler Link</a></li>
            <li><a href="" class="footer-link">Filler Link</a></li>
          </ul>
        </div>
      </div>
      <div class="lower-footer-container">
        <div class="footer-headers">Follow Us</div>
        <div class="follow-us-div">
          <a href="https://www.facebook.com/Purecbdexchange/" class="social-link-block"><img src="images/facebook.svg" class="social-image"></a>
          <a href="https://www.instagram.com/purecbdexchange/?hl=en" class="social-link-block"><img src="images/instagram.svg" class="social-image"></a>
          <a href="#" class="social-link-block"><img src="images/twitter.svg" class="social-image"></a>
          <a href="#" class="social-link-block"><img src="images/linkedin.svg" class="social-image"></a></div>
        <p class="privacy-text">By using this site, you consent that you are at least 18 years of age and that you have read and understand our <a class="privacy-text-links" href="/return-policy">Return Policy</a>, <a class="privacy-text-links" href="/privacy-policy">Privacy Policy</a>, and <a class="privacy-text-links" href="/terms-and-conditions">Terms and Conditions</a>.<br><br>FDA Disclosure<br>Statements made on this website and other statements made by Pure Exchange LLP have not been evaluated by the FDA. Our products are not intended to diagnose, treat, or cure any disease. Always check with your physician before taking CBD or any other supplement.</p>
      </div>
    </div>

</app-header-layout>
</app-drawer-layout>

    <!-- a11y announcer -->
    <div class="announcer" aria-live="assertive">[[_a11yLabel]]</div>

  </template>

  <script>
      // performance logging
      window.performance && performance.mark && performance.mark('shop-app - before register');

      class ShopApp extends Polymer.Element {
  
        static get is() { return 'shop-app'; }
  
        static get properties() { return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          },
  
          numItems: {
            type: Number,
            value: 0
          },
        }}
  
        static get observers() { return [
          '_routePageChanged(routeData.page)'
        ]}
  
        constructor() {
          super();
          window.performance && performance.mark && performance.mark('shop-app.created');
        }
     
        ready() {
          super.ready();
          // Custom elements polyfill safe way to indicate an element has been upgraded.
          this.removeAttribute('unresolved');
          // listen for custom events
          this.addEventListener('add-cart-item', (e)=>this._onAddCartItem(e));
          this.addEventListener('set-cart-item', (e)=>this._onSetCartItem(e));
          this.addEventListener('clear-cart', (e)=>this._onClearCart(e));
          this.addEventListener('change-section', (e)=>this._onChangeSection(e));
          this.addEventListener('announce', (e)=>this._onAnnounce(e));
          this.addEventListener('dom-change', (e)=>this._domChange(e));
          this.addEventListener('show-invalid-url-warning', (e)=>this._onFallbackSelectionTriggered(e));
          // listen for online/offline
          Polymer.RenderStatus.afterNextRender(this, () => {
            window.addEventListener('online', (e)=>this._notifyNetworkStatus(e));
            window.addEventListener('offline', (e)=>this._notifyNetworkStatus(e));
          });
        }
      
        _routePageChanged(page) {
          if (this.page === 'list') {
            this._listScrollTop = window.pageYOffset;
          }
  
          this.page = page || 'home';
  
          // Close the drawer - in case the *route* change came from a link in the drawer.
          this.drawerOpened = false;
          }

      _pageChanged(page, oldPage) {
        if (page != null) {
          // home route is eagerly loaded
          if (page == 'home') {
            this._pageLoaded(Boolean(oldPage));
          // other routes are lazy loaded
          } else {
            // When a load failed, it triggered a 404 which means we need to
            // eagerly load the 404 page definition
            let cb = this._pageLoaded.bind(this, Boolean(oldPage));
            Polymer.importHref(
              this.resolveUrl('shop-' + page + '.html'),
              cb, cb, true);
          }
        }
      }
      
      _pageLoaded(shouldResetLayout) {
        this._ensureLazyLoaded();
        if (shouldResetLayout) {
          // The size of the header depends on the page (e.g. on some pages the tabs
          // do not appear), so reset the header's layout only when switching pages.
          Polymer.Async.timeOut.run(() => {
            this.$.header.resetLayout();
          }, 1);
        }
      }
     
      _ensureLazyLoaded() {
        // load lazy resources after render and set `loadComplete` when done.
        if (!this.loadComplete) {
          Polymer.RenderStatus.afterNextRender(this, () => {
            Polymer.importHref(this.resolveUrl('lazy-resources.html'), () => {
              // Register service worker if supported.
              if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('service-worker.js', {scope: '/'});
              }
              this._notifyNetworkStatus();
              this.loadComplete = true;
            });
          });
        }
      }

      _notifyNetworkStatus() {
        let oldOffline = this.offline;
        this.offline =  !navigator.onLine;
        // Show the snackbar if the user is offline when starting a new session
        // or if the network status changed.
        if (this.offline || (!this.offline && oldOffline === true)) {
          if (!this._networkSnackbar) {
            this._networkSnackbar = document.createElement('shop-snackbar');
            this.root.appendChild(this._networkSnackbar);
          }
          this._networkSnackbar.innerHTML = this.offline ?
              'You are offline' : 'You are online';
          this._networkSnackbar.open();
        }
      }
    
      _toggleDrawer() {
        this.drawerOpened = !this.drawerOpened;
      }

      // Elements in the app can notify section changes.
      // Response by a11y announcing the section and syncronizing the category.
      _onChangeSection(event) {
        let detail = event.detail;

        // Scroll to the top of the page when navigating to a non-list page. For list view,
        // scroll to the last saved position only if the category has not changed.
        let scrollTop = 0;
        if (this.page === 'list') {
          if (this.categoryName === detail.category) {
            scrollTop = this._listScrollTop;
          } else {
            // Reset the list view scrollTop if the category changed.
            this._listScrollTop = 0;
          }
        }
        // Use `Polymer.AppLayout.scroll` with `behavior: 'silent'` to disable header scroll
        // effects during the scroll.
        Polymer.AppLayout.scroll({ top: scrollTop, behavior: 'silent' });

        this.categoryName = detail.category || '';

        // Announce the page's title
        if (detail.title) {
          document.title = detail.title + ' - Pure CBD Exchange';
          this._announce(detail.title + ', loaded');
        }
      }

      _onAddCartItem(event) {
        if (!this._cartModal) {
          this._cartModal = document.createElement('shop-cart-modal');
          this.root.appendChild(this._cartModal);
        }
        this.$.cart.addItem(event.detail);
        this._cartModal.open();
        this._announce('Item added to the cart');
      }

      _onSetCartItem(event) {
        let detail = event.detail;
        this.$.cart.setItem(detail);
        if (detail.quantity === 0) {
          this._announce('Item deleted');
        } else {
          this._announce('Quantity changed to ' + detail.quantity);
        }
      }

      _onClearCart() {
        this.$.cart.clearCart();
        this._announce('Cart cleared');
      }

      // Elements in the app can notify a change to be a11y announced.
      _onAnnounce(e) {
        this._announce(e.detail);
      }
      // A11y announce the given message.
      _announce(message) {
        this._a11yLabel = '';
        this._announceDebouncer = Polymer.Debouncer.debounce(this._announceDebouncer,
          Polymer.Async.timeOut.after(100), () => {
            this._a11yLabel = message;
          });
      }
      // This is for performance logging only.
      _domChange(e) {
        if (window.performance && performance.mark && !this.__loggedDomChange) {
          let target = e.composedPath()[0];
          let host = target.getRootNode().host;
          if (host && host.localName.match(this.page)) {
            this.__loggedDomChange = true;
            performance.mark(host.localName + '.domChange');
          }
        }
      }
    
      _onFallbackSelectionTriggered() {
        this.page = '404';
      }

      _computeShouldShowTabs(page, smallScreen) {
        return (page === 'home' || page === 'list' || page === 'detail') && !smallScreen;
      }

      _computeShouldRenderTabs(_shouldShowTabs, loadComplete) {
        return _shouldShowTabs && loadComplete;
      }

      _computeShouldRenderDrawer(smallScreen, loadComplete) {
        return smallScreen && loadComplete;
      }

      _computePluralizedQuantity(quantity) {
        return quantity + ' ' + (quantity === 1 ? 'item' : 'items');
      }

    }

    customElements.define(ShopApp.is, ShopApp);
  </script>

</dom-module>