<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- shop-app -->
<link rel="import" href="shop-cart-data.html">
<link rel="import" href="shop-cart-modal.html">
<link rel="import" href="shop-snackbar.html">
<link rel="import" href="shop-footer.html">
<link rel="import" href="shop-shop-cbd.html">
<link rel="import" href="shop-what-is-cbd.html">
<link rel="import" href="shop-list.html">
<link rel="import" href="shop-detail.html">
<link rel="import" href="shop-cart.html">
<link rel="import" href="shop-checkout.html">
<link rel="import" href="shop-my-account.html">
<link rel="import" href="../bower_components/polymerfire/firebase-app.html">

<!-- shop-detail -->
<link rel="import" href="shop-404-warning.html">

<!-- shop-cart -->
<link rel="import" href="shop-cart-item.html">

<!-- shop-checkout -->
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
