<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="shop-button.html">
<link rel="import" href="shop-input.html">

<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">

<dom-module id="shop-my-account">

  <template>

    <style include="shop-app shop-button shop-input">

      :host {
        display: block;
        padding: 5px 15px 35px 15px;
        color: var(--app-secondary-color);
      }

      h1 {
        font-size: 45px;
        font-weight: 500;
        line-height: 115%;
        margin-top: 45px;
      }

      a {
        color: var(--app-primary-color);
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 940px;
        position: relative;
        font-size: 1.15em;
      }

      .firebaseui-idp-list {
        list-style: none;
        margin-top: 45px;
        margin-bottom: 5px;
        padding: 0;
    }

    .firebaseui-list-item {
        direction: ltr;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .firebaseui-button {
        display: inline-block;
        height: 36px;
        margin-left: 8px;
        min-width: 88px;
    }

    .firebaseui-idp-google {
    background-color: #ffffff;
    }

    .firebaseui-idp-facebook {
    background-color: #3b5998;
    }

    .firebaseui-idp-twitter {
        background-color: #55acee;
    }

    .firebaseui-idp-text {
    color: #fff;
    display: table-cell;
    font-size: 1.2em;
    padding-left: 16px;
    text-transform: none;
    vertical-align: middle;
    }

    .google-text {
        color: #757575;
    }

    .firebaseui-idp-icon-wrapper {
    display: table-cell;
    vertical-align: middle;
    }

    .firebaseui-idp-icon {
    border: none;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    }

    .firebaseui-idp-button {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    border: none;
    direction: ltr;
    font-weight: 500;
    height: auto;
    line-height: normal;
    max-width: 230px;
    min-height: 50px;
    text-align: left;
    width: 100%;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    }

    </style>

  <div class="container">
    <h1>My <span class="bold">Account</span></h1>

    <template is="dom-if" if='[[!user]]'>
        <shop-input>
            <input type="email" id="accountEmail" name="accountEmail"
                   placeholder="Email" autofocus required
                   aria-labelledby="accountEmailLabel accountInfoHeading">
                <shop-md-decorator error-message="Invalid Email" aria-hidden="true">
                      <label id="accountEmailLabel">Email</label>
                      <shop-underline></shop-underline>
                </shop-md-decorator>
            </shop-input>

            <shop-input>
                <input type="password" id="accountPassword" name="accountPassword"
                           placeholder="Password" required
                           aria-labelledby="accountPasswordLabel accountInfoHeading">
                    <shop-md-decorator error-message="Incorrect Password" aria-hidden="true">
                              <label id="accountPasswordLabel">Password</label>
                              <shop-underline></shop-underline>
                    </shop-md-decorator>
                </shop-input>

                <shop-button>
                        <button on-click="submit" aria-label="Login/Sign Up">Login/Sign Up</button>
                    </shop-button>

                                <ul class="firebaseui-idp-list">
                                    <li on-click="loginGoogle" class="firebaseui-list-item">
                                        <button class="firebaseui-idp-button firebaseui-idp-google">
                                            <span class="firebaseui-idp-icon-wrapper">
                                                <img src="../images/google.svg" class="firebaseui-idp-icon">
                                            </span>
                                            <span class="firebaseui-idp-text google-text">Sign in with Google</span>
                                        </button>
                                    </li>
                                    <li on-click="loginFacebook" class="firebaseui-list-item">
                                            <button class="firebaseui-idp-button firebaseui-idp-facebook">
                                                    <span class="firebaseui-idp-icon-wrapper">
                                                        <img src="../images/facebook.svg" class="firebaseui-idp-icon">
                                                    </span>
                                                    <span class="firebaseui-idp-text">Sign in with Facebook</span>
                                                </button>
                                    </li>
                                    <!-- <li on-click="loginTwitter" class="firebaseui-list-item">
                                            <button class="firebaseui-idp-button firebaseui-idp-twitter">
                                                    <span class="firebaseui-idp-icon-wrapper">
                                                        <img src="../images/twitter.svg" class="firebaseui-idp-icon">
                                                    </span>
                                                    <span class="firebaseui-idp-text">Sign in with Twitter</span>
                                                </button>
                                    </li> -->
                                </ul>

    </template>

    <template is="dom-if" if="[[user]]">
        <h2>Welcome [[user.displayName]]</h2>
    </template>

  </template>

  <script>

    class ShopMyAccount extends Polymer.Element {

      static get is() { return 'shop-my-account'; }

      static get properties() { return {

        categories: {
          type: Array
        },

        visible: {
          type: Boolean,
          observer: '_visibleChanged'
        },
        user: {
            type: Object
        },
        statusKnown: {
            type: Object
        }

      }}


       loginGoogle() {
        var google = new firebase.auth.GoogleAuthProvider();
        return this.$.auth.signInWithPopup(google);
      }

      loginFacebook() {
        var facebook = new firebase.auth.FacebookAuthProvider();
        return this.$.auth.signInWithPopup(facebook);
      }

      loginTwitter() {
        var twitter = new firebase.auth.TwitterAuthProvider();
        return this.$.auth.signInWithPopup(twitter);
      }

      logout() {
          return this.$.auth.signOut();
      }

      _visibleChanged(visible) {
        if (visible) {
          this.dispatchEvent(new CustomEvent('change-section', {
            bubbles: true, composed: true, detail: {title: 'My Account'}}));
        }
      }

    }

    customElements.define(ShopMyAccount.is, ShopMyAccount);

  </script>

</dom-module>