<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../bower_components/app-layout/helpers/helpers.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="shop-category-data.html">
<!-- Since 'home' is the default route, eagerly load it. -->
<link rel="import" href="shop-home.html">

<dom-module id="shop-app">

  <template>

    <style>
      :host {
        display: block;
        position: relative;
        font-family: 'Mukta Malar', sans-serif;
        --app-primary-color: #004a00;
        --app-secondary-color: #2a2a2a;
        --app-accent-color: #eee;
        --app-third-color: #25ac6a;
        --paper-button-ink-color: var(--app-accent-color);
        --paper-icon-button-ink-color: var(--app-accent-color);
        --paper-spinner-color: var(--app-accent-color);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: var(--app-secondary-color);
      }
      app-header {
        color: var(--app-accent-color);
        text-align: center;
        --app-header-background-front-layer: {
          background-image: url(../../images/mountains.jpg);
          background-position: 50% 5%;
          background-size: cover;
        };
        --app-header-background-rear-layer: {
            background-color: var(--app-primary-color);
        };
      }
        paper-icon-button {
        color: white;
        --paper-icon-button-ink-color: white;
      }

      .bold {
        font-weight: 800;
      }
      
      .main-logo {
          width: 200px;
          margin-top:150px;
          z-index: 10;
        }
        .condensed-logo {
          margin-top: 12px;
          margin-left: 10px;
          width:50px;
        }

        .app-drawer {
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        }

      .my-account {
          color: var(--app-primary-color);
        }

      .cart-btn-container {
        float: right;
        display: -webkit-flex;
        display: flex;
        z-index: 5;
       }

      .announcer {
        position: fixed;
        height: 0;
        overflow: hidden;
      }

      [hidden] {
        display: none !important;
      }
      
      .cart-badge {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 13px;
        font-weight: 600;
        pointer-events: none;
        @apply --layout-vertical;
        @apply --layout-center-center;
        font-family: 'Mukta Malar', sans-serif;
      }

      .cart-badge-2.cart-badge {
        position: relative;
        top: 0;
        right: 0;
        margin-right: 10px;
        margin-bottom: -17px;
        z-index: 3;
      }

      .title-container {
          height: 220px;
          width: 100%;
          padding-bottom: 15px;
          background-image: -webkit-linear-gradient(270deg, rgba(0, 74, 10, .7), rgba(0, 74, 10, .7)),url(../../images/closeHempPlants.jpg);
          background-image: linear-gradient(180deg, rgba(0, 74, 10, .7), rgba(0, 74, 10, .7)), url(../../images/closeHempPlants.jpg);
          background-position: 0px 0px, 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
         }

         .title {
           color: white;
           padding-left: 15px;
           padding-right: 13px;
           z-index: 10;
           font-size: 1.3em;
           margin-bottom: 3px;
         }

         .text-muted-small {
           color:white;
           font-size: 1.1em;
           line-height: 1.1em;
           opacity: 0.8;
           padding-left: 15px;
           padding-right: 13px;
         }

         .top-menu-section {
           padding-top: 6px;
           padding-bottom: 6px;
           border-bottom: 1px solid var(--app-accent-color);
         }

         .shop-menu-section {
          padding-top: 4px;
          padding-bottom: 4px;
          border-bottom: 1px solid var(--app-accent-color);
         }

         .menu-icons {
           width: 21px;
           margin-top: -5px;
           padding-left: 5px;
           padding-right: 12px;
         }

         .flexed-links {
          color: var(--app-secondary-color);
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          font-size: 18px;
         }

         .small-links {
          padding-left: 55px;
         }
         
         .smaller-icon {
           width: 15px !important;
           height: 25px;
         }

         a:hover {
            color: var(--app-third-color) !important;
         }

         a {
          text-decoration: none;
         }
            
      @media (max-width: 812px) {
        :host {
            display: block;
        }

        app-header {
        --app-header-background-front-layer: {
          background-image: url(../../images/mountains-mobile.jpg);
          background-position: 50% 50%;
          background-size: cover;
        };

      }
          
      .app-drawer {
            box-shadow: none;
          }

      .title-container {
            height: 135px;
          }
      }
    </style>
    <!--
      app-location and app-route elements provide the state of the URL for the app.
    -->
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <iron-media-query query="max-width: 1040px" query-matches="{{smallScreen}}"></iron-media-query>

    <!--
      shop-category-data provides the list of categories.
    -->
    <shop-category-data categories="{{categories}}"></shop-category-data>

    <!--
      shop-cart-data maintains the state of the user's shopping cart (in localstorage) and
      calculates the total amount.
    -->
  <shop-cart-data
        id="cart"
        cart="{{cart}}"
        num-items="{{numItems}}"
        total="{{total}}"></shop-cart-data>

  <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer class="app-drawer" slot="drawer" opened="{{drawerOpened}}" swipe-open tabindex="0">
       <div class="title-container">
           <p class="title">Pure CBD Exchange</p>
            <span class="text-muted-small">Pure CBD Isolates, Oils, Tinctures, and More</span>
            </div>
            <div class="top-menu-section">
              <div class="menu-list">
                <div><a class="flexed-links" href="/"><img class="menu-icons" src="images/home-icon.svg">Home</a></div>
                <div><a class="flexed-links" href="/what-is-cbd"><img class="menu-icons" src="images/weed-leaf.svg">What Is CBD?</a></div>
              </div>
            </div>

            <div class="shop-menu-section menu-list">
                <div><a class="flexed-links" href="/shop-cbd"><img class="menu-icons smaller-icon" src="images/tincture.svg">Shop CBD</a></div>
                <iron-selector role="navigation" selected="[[categoryName]]" attr-for-selected="name">
                    <template is="dom-repeat" items="[[categories]]" as="category" initial-count="8">
                      <div>
                        <a class="flexed-links small-links" name="[[category.name]]" href="/list/[[category.name]]">[[category.title]]</a>
                    </div>
                    </template>
                  </dom-repeat>
                    <div><a href="/wholesale" class="flexed-links small-links">Wholesale</a></div>
                  </iron-selector>
            </div>
            <div class="shop-menu-section menu-list">
              <div>
                <a class="flexed-links" href="/my-account">
                  <paper-icon-button class="my-account" icon="social:person"></paper-icon-button>My Account</a>
                </div>
              <a class="flexed-links" href="/cart" tabindex="-1">
                <div>
                    <div class="cart-badge cart-badge-2" aria-hidden="true" hidden$="[[!numItems]]">[[numItems]]</div>
                    <paper-icon-button class="my-account" icon="shopping-cart" aria-label$="Shopping cart: [[_computePluralizedQuantity(numItems)]]"></paper-icon-button>
                </div>
                Cart
              </a>
          </div>
            <div class="top-menu-section menu-list">
                <div><a class="flexed-links" href=""><img class="menu-icons" src="../images/question.svg">Help and Feedback</a></div>
            </div>
          </app-drawer>
          <app-header-layout>
            <app-header style="height: 350px;" condenses fixed slot="header" effects="waterfall parallax-background blend-background resize-snapped-title">
              <app-toolbar>
                <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                <div condensed-title>
                  <a href="/"><img class="condensed-logo" src="images/whiteLogoNoCBD.svg"></a>
                </div>
                <div class="cart-btn-container">
                  <a href="/cart" tabindex="-1">
                    <paper-icon-button icon="shopping-cart" aria-label$="Shopping cart: [[_computePluralizedQuantity(numItems)]]"></paper-icon-button>
                  </a>
                  <div class="cart-badge" aria-hidden="true" hidden$="[[!numItems]]">[[numItems]]</div>
                </div>
              </app-toolbar>
              <app-toolbar style="height: 64px;">
                <div main-title>
                  <a href="/"><img class="main-logo" src="images/newLogoWhite.svg"></a>
                </div>
              </app-toolbar>
            </app-header>

    <iron-pages 
    role="main" 
    selected="[[page]]" 
    attr-for-selected="name" 
    selected-attribute="visible" 
    fallback-selection="404">
      <!-- home view -->
      <shop-home name="home" categories="[[categories]]"></shop-home>
      <!-- <shop-home name="home"></shop-home> -->

      <shop-what-is-cbd name="what-is-cbd"></shop-what-is-cbd>

      <shop-shop-cbd name="shop-cbd"></shop-shop-cbd>

      <shop-my-account name="my-account"></shop-my-account>

      <shop-epilepsy-outreach name="epilepsy-outreach"></shop-epilepsy-outreach>

      <!--Policies and Terms-->
      <shop-terms-and-conditions name="terms-and-conditions"></shop-terms-and-conditions>
      <shop-privacy-policy name="privacy-policy"></shop-privacy-policy>
      <shop-return-policy name="return-policy"></shop-return-policy>
      <shop-shipping-policy name="shipping-policy"></shop-shipping-policy>

      <!-- list view of items in a category -->
      <shop-list name="list" route="[[subroute]]" offline="[[offline]]"></shop-list>
      <!-- detail view of one item -->
      <shop-detail name="detail" route="[[subroute]]" offline="[[offline]]"></shop-detail>
      <!-- cart view -->
      <shop-cart name="cart" cart="[[cart]]" total="[[total]]"></shop-cart>
      <!-- checkout view -->
      <shop-checkout name="checkout" cart="[[cart]]" total="[[total]]" route="{{subroute}}"></shop-checkout>

      <shop-404-warning name="404"></shop-404-warning>
    </iron-pages>

    <shop-footer></shop-footer>

</app-header-layout>
</app-drawer-layout>

    <!-- a11y announcer -->
    <div class="announcer" aria-live="assertive">[[_a11yLabel]]</div>

  </template>

  <script>
      // performance logging
      window.performance && performance.mark && performance.mark('shop-app - before register');

      class ShopApp extends Polymer.Element {
  
        static get is() { return 'shop-app'; }
  
        static get properties() { return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          },
  
          numItems: {
            type: Number,
            value: 0
          },
        }}
  
        static get observers() { return [
          '_routePageChanged(routeData.page)'
        ]}
  
        constructor() {
          super();
          window.performance && performance.mark && performance.mark('shop-app.created');
        }
     
        ready() {
          super.ready();
          // Custom elements polyfill safe way to indicate an element has been upgraded.
          this.removeAttribute('unresolved');
          // listen for custom events
          this.addEventListener('add-cart-item', (e)=>this._onAddCartItem(e));
          this.addEventListener('set-cart-item', (e)=>this._onSetCartItem(e));
          this.addEventListener('clear-cart', (e)=>this._onClearCart(e));
          this.addEventListener('change-section', (e)=>this._onChangeSection(e));
          this.addEventListener('announce', (e)=>this._onAnnounce(e));
          this.addEventListener('dom-change', (e)=>this._domChange(e));
          this.addEventListener('show-invalid-url-warning', (e)=>this._onFallbackSelectionTriggered(e));
          // listen for online/offline
          Polymer.RenderStatus.afterNextRender(this, () => {
            window.addEventListener('online', (e)=>this._notifyNetworkStatus(e));
            window.addEventListener('offline', (e)=>this._notifyNetworkStatus(e));
          });
        }
      
        _routePageChanged(page) {
          if (this.page === 'list') {
            this._listScrollTop = window.pageYOffset;
          }
  
          this.page = page || 'home';
  
          // Close the drawer - in case the *route* change came from a link in the drawer.


          if (window.innerWidth < 1040) {
            this.drawerOpened = false;
          }
        }

      _pageChanged(page, oldPage) {
        if (page != null) {
          // home route is eagerly loaded
          if (page == 'home') {
            this._pageLoaded(Boolean(oldPage));
          // other routes are lazy loaded
          } else {
            // When a load failed, it triggered a 404 which means we need to
            // eagerly load the 404 page definition
            let cb = this._pageLoaded.bind(this, Boolean(oldPage));
            Polymer.importHref(
              this.resolveUrl('shop-' + page + '.html'),
              cb, cb, true);
          }
        }
      }
      
      _pageLoaded(shouldResetLayout) {
        this._ensureLazyLoaded();
      }
     
      _ensureLazyLoaded() {
        // load lazy resources after render and set `loadComplete` when done.
        if (!this.loadComplete) {
          Polymer.RenderStatus.afterNextRender(this, () => {
            Polymer.importHref(this.resolveUrl('lazy-resources.html'), () => {
              this._notifyNetworkStatus();
              this.loadComplete = true;
            });
          });
        }
      }

      _notifyNetworkStatus() {
        let oldOffline = this.offline;
        this.offline =  !navigator.onLine;
        // Show the snackbar if the user is offline when starting a new session
        // or if the network status changed.
        if (this.offline || (!this.offline && oldOffline === true)) {
          if (!this._networkSnackbar) {
            this._networkSnackbar = document.createElement('shop-snackbar');
            this.root.appendChild(this._networkSnackbar);
          }
          this._networkSnackbar.innerHTML = this.offline ?
              'You are offline' : 'You are online';
          this._networkSnackbar.open();
        }
      }
    
      _toggleDrawer() {
        this.drawerOpened = !this.drawerOpened;
      }

      // Elements in the app can notify section changes.
      // Response by a11y announcing the section and syncronizing the category.
      _onChangeSection(event) {
        let detail = event.detail;

        // Scroll to the top of the page when navigating to a non-list page. For list view,
        // scroll to the last saved position only if the category has not changed.
        let scrollTop = 0;
        if (this.page === 'list') {
          if (this.categoryName === detail.category) {
            scrollTop = this._listScrollTop;
          } else {
            // Reset the list view scrollTop if the category changed.
            this._listScrollTop = 0;
          }
        }
        // Use `Polymer.AppLayout.scroll` with `behavior: 'silent'` to disable header scroll
        // effects during the scroll.
        Polymer.AppLayout.scroll({ top: scrollTop, behavior: 'silent' });

        this.categoryName = detail.category || '';

        // Announce the page's title
        if (detail.title) {
          document.title = detail.title + ' - Pure CBD Exchange';
          this._announce(detail.title + ', loaded');
        }
      }

      _onAddCartItem(event) {
        if (!this._cartModal) {
          this._cartModal = document.createElement('shop-cart-modal');
          this.root.appendChild(this._cartModal);
        }
        this.$.cart.addItem(event.detail);
        this._cartModal.open();
        this._announce('Item added to the cart');
      }

      _onSetCartItem(event) {
        let detail = event.detail;
        this.$.cart.setItem(detail);
        if (detail.quantity === 0) {
          this._announce('Item deleted');
        } else {
          this._announce('Quantity changed to ' + detail.quantity);
        }
      }

      _onClearCart() {
        this.$.cart.clearCart();
        this._announce('Cart cleared');
      }

      // Elements in the app can notify a change to be a11y announced.
      _onAnnounce(e) {
        this._announce(e.detail);
      }
      // A11y announce the given message.
      _announce(message) {
        this._a11yLabel = '';
        this._announceDebouncer = Polymer.Debouncer.debounce(this._announceDebouncer,
          Polymer.Async.timeOut.after(100), () => {
            this._a11yLabel = message;
          });
      }
      // This is for performance logging only.
      _domChange(e) {
        if (window.performance && performance.mark && !this.__loggedDomChange) {
          let target = e.composedPath()[0];
          let host = target.getRootNode().host;
          if (host && host.localName.match(this.page)) {
            this.__loggedDomChange = true;
            performance.mark(host.localName + '.domChange');
          }
        }
      }
    
      _onFallbackSelectionTriggered() {
        this.page = '404';
      }

      _computePluralizedQuantity(quantity) {
        return quantity + ' ' + (quantity === 1 ? 'item' : 'items');
      }

    }

    customElements.define(ShopApp.is, ShopApp);
  </script>

</dom-module>