<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="shop-epilepsy-outreach">

  <template>

    <style include="shop-app">

      :host {
        display: block;
        padding: 5px 15px 35px 15px;
      }

      h1 {
        font-size: 45px;
        font-weight: 500;
        line-height: 115%;
        margin-top: 45px;
      }

      h3 {
          line-height: 115%;
      }

      a {
        color: var(--app-primary-color);
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 940px;
        position: relative;
        font-size: 1.15em;
      }

    </style>

  
  <div class="container">
    <h1>Epilepsy <span class="bold">Outreach</span></h1>

        <p>
            If you or someone you know has a child struggling with epilepsy, Pure CBD Exchange is willing to make donations or discounts in order to work together to move that child towards a healthier and happier life.
         </p>

         <p> 
            Other potentially debilitating conditions may qualify. Please contact us at <a href="mailto:support@purecbdexchange.com?subject=Epilepsy Outreach">support@purecbdexchange.com</a> to learn more.
         </p>
  </div>

  </template>

  <script>

    class ShopEpilepsyOutreach extends Polymer.Element {

      static get is() { return 'shop-epilepsy-outreach'; }

      static get properties() { return {

        categories: {
          type: Array
        },

        visible: {
          type: Boolean,
          observer: '_visibleChanged'
        }

      }}

      _visibleChanged(visible) {
        if (visible) {
          this.dispatchEvent(new CustomEvent('change-section', {
            bubbles: true, composed: true, detail: {title: 'Epilepsy Outreach'}}));
        }
      }

    }

    customElements.define(ShopEpilepsyOutreach.is, ShopEpilepsyOutreach);

  </script>

</dom-module>