<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shop-category-data.html">

<dom-module id="shop-footer">
  <template>
    <style include="shop-app">
      :host {
        display: block;
        color: #fff;
      }

      a {
          color: #fff;
      }

      .footer-section {
          padding-top: 23px;
          padding-bottom: 23px;
          background-color: #2a2a2a;
        }

        .footer-container {
          margin-left: auto;
          margin-right: auto;
          max-width: 940px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: baseline;
          -webkit-align-items: baseline;
          -ms-flex-align: baseline;
          align-items: baseline;
        }

        .footer-link-block {
          max-width: 100%;
          display: inline-block;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding-bottom: 30px;
        }

        .footer-logo {
          width: 160px;
          margin-bottom: 10px;
        }

        .first-over {
          padding-top: 0px;
          padding-left: 80px;
        }

        .footer-headers {
          font-size: 16px;
          font-weight: 700;
        }

        .footer-lists {
          -webkit-margin-before: 0.5em;
          -webkit-margin-after: 1em;
          padding: 0;
          padding-left: 0;
          list-style: none;
        }

        .lower-footer-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left;
      }

      .follow-us-div {
        padding-top: 5px;
        padding-bottom: 30px;
      }

      .social-link-block {
        max-width: 100%;
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
      }
      .social-image {
        width: 25px;
      }

      .privacy-text {
        font-size: 0.8em;
        line-height: 1.25em;
      }

      a.privacy-text-links {
        color: var(--app-third-color);
      }

      @media (max-width: 812px) {

          .footer-container {
            padding-right: 20px;
            padding-left: 20px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
          }

          .first-over {
            padding-left: 0;
          }

          .lower-footer-container {
            padding-right: 20px;
            padding-left: 20px;
          }

          .footer-link-block {
            width: 100%;
          }
      }
    </style>

        <shop-category-data categories="{{categories}}"></shop-category-data>

    <div class="footer-section">
        <div class="footer-container">
            <a href="" class="footer-link-block">
                <img src="images/newLogoWhite.svg" class="footer-logo">
                <div>© Pure Exchange LLP 2016</div>
            </a>
          <div class="first-over">
            <div class="footer-headers">Policies</div>
            <ul class="footer-lists">
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
              <li><a href="/return-policy">Return Policy</a></li>
              <li><a href="/shipping-policy">Shipping Policy</a></li>
            </ul>
          </div>
          <div>
            <div class="footer-headers">Get in Touch</div>
            <ul class="footer-lists">
              <li><a href="/epilepsy-outreach">Epilepsy Outreach</a></li>
              <li><a href="">Wholesale Inquiries</a></li>
              <li><a href="">Help and Feedback</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
          <div>
            <div class="footer-headers">Environmental Impact</div>
            <ul class="footer-lists">
              <li><a href="">Lab Results</a></li>
              <li><a href="">Green Servers</a></li>
            </ul>
          </div>
          <div>
            <div class="footer-headers">Shop CBD</div>
            <ul class="footer-lists">
              <template is="dom-repeat" items="[[categories]]" as="category" initial-count="4">
                <div><a name="[[category.name]]" href="/list/[[category.name]]">[[category.title]]</a></div>
              </template>
              <li><a href="/wholesale">Wholesale</a></li>
            </ul>
          </div>
        </div>
        <div class="lower-footer-container">
          <div class="footer-headers">Follow Us</div>
          <div class="follow-us-div">
            <a href="https://www.facebook.com/Purecbdexchange/" class="social-link-block"><img src="images/facebook.svg" class="social-image"></a>
            <a href="https://www.instagram.com/purecbdexchange/?hl=en" class="social-link-block"><img src="images/instagram.svg" class="social-image"></a>
            <a href="#" class="social-link-block"><img src="images/twitter.svg" class="social-image"></a>
            <a href="#" class="social-link-block"><img src="images/linkedin.svg" class="social-image"></a></div>
          <p class="privacy-text">By using this site, you consent that you are at least 18 years of age and that you have read and understand our <a class="privacy-text-links" href="/return-policy">Return Policy</a>, <a class="privacy-text-links" href="/shipping-policy">Shipping Policy</a>, <a class="privacy-text-links" href="/privacy-policy">Privacy Policy</a>, and <a class="privacy-text-links" href="/terms-and-conditions">Terms and Conditions</a>.<br><br><span class="bold">FDA Disclosure</span><br>Statements made on this website and other statements made by Pure Exchange LLP have not been evaluated by the FDA. Our products are not intended to diagnose, treat, or cure any disease. Always check with your physician before taking CBD or any other supplement.</p>
        </div>
      </div>
  </template>

  <script>
    /**
     * `shop-footer`
     * home page footer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ShopFooter extends Polymer.Element {
      static get is() { return 'shop-footer'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'shop-footer'
          }
        };
      }
    }

    window.customElements.define(ShopFooter.is, ShopFooter);
  </script>
</dom-module>
