<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="shop-button">
  <template>
    <style>

      shop-button {
        display: block;
      }

      shop-button > * {
        font-family: 'Mukta Malar', sans-serif;
        display: inline-block;
        background-color: white;
        font-size: 20px;
        color: var(--app-primary-color);
        margin: 0;
        padding: 6px 54px;
        text-align: center;
        text-decoration: none;
        -webkit-appearance: none;
        border: 2px solid var(--app-secondary-color);
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
      }

      shop-button > *:focus {
        background-color: #c5cad3;
      }

      shop-button > *:active {
        background-color: #000;
        color: #FFF;
      }

      @media (max-width: 812px) {

        /* Responsive buttons are used in shop-detail, shop-cart and shop-checkout */
        shop-button[responsive] {
          @apply --layout-fixed-bottom;
          height: 68px;
          z-index: 1;
        }

        shop-button[responsive] > * {
          background-color: var(--app-primary-color);
          border: none;
          color: white;
          width: 100%;
          height: 100%;
          font-size: 20px;
        }

        shop-button[responsive] > *:focus {
          background-color: var(--app-primary-color);
        }

      }

    </style>
  </template>
</dom-module>
