<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="shop-form-styles">
  <template>
    <style>

      :host {
        display: block;
      }

      .main-frame {
        margin: 0 auto;
        margin-top: 40px;
        padding: 0 24px 48px 24px;
        max-width: 940px;
        overflow: hidden;
        margin-bottom: 50px;
      }

      .subsection:not([visible]) {
        display: none;
      }

      .empty-cart {
        font-size: 1.4em;
        text-align: center;
        white-space: nowrap;
        color: var(--app-secondary-color);
      }

      h2 {
        font-size: 13px;
      }

    </style>
  </template>
</dom-module>
