<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shop-button.html">

<dom-module id="shop-shop-cbd">

  <template>

    <style include="shop-button">

      :host {
        display: block;
        padding: 5px 15px 75px 15px;
      }

      h1 {
        font-size: 45px;
        font-weight: 500;
        line-height: 115%;
        width: 95%;
        margin-top: 45px;
      }

      h2 {
        font-size: 45px;
        font-weight: 500;
        line-height: 115%;
        padding-top: 15px;
        margin: 0;
      }

      h3 {
          line-height: 115%;
      }

      a {
        text-decoration: none;
        color: var(--app-secondary-color);
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 940px;
        position: relative;
        font-size: 1.15em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .bold {
        font-weight: 900;
      }

      .top-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 450px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/rotate.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/rotate.jpg');
        background-position: 50% 55%;
        background-size: cover;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
      }

      .slim-box {
        margin-top: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 300px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/wholesale.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/wholesale.jpg');
        background-position: 50% 55%;
        background-size: cover;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
      }

      .max-width-p {
        max-width: 600px;
        padding-left: 10px !important;
        padding-right: 10px;
      }

      .center {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }

      .lower-boxes {
        margin-top: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 500px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .25)), url('../images/wholesale.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .25)), url('../images/wholesale.jpg');
        background-position: 50% 55%;
        background-size: cover;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        width: 43%;
        margin-top: 50px;
        margin-right: 25px;
        margin-left: 25px;
      }

      .dog {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/dog.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/dog.jpg');
      }

      .vape {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/vape.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/vape.jpg');
      }

      .lotion {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/lotion.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/lotion.jpg');
      }

      .concentrates {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/concentrates.JPG');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/concentrates.JPG');
      }

      @media (max-width: 812px) {

        :host {
            padding: 5px 0 35px 0;
        }

        .top-box {
          margin-right: 10px;
          margin-left: 10px;
        }

        h1 {
            padding-right: 15px;
            padding-left: 15px;
        }

        .slim-box {
            height: 350px;
        }

        .lower-boxes {
            height: 450px;
              width: 100%;
              margin-right: 15px;
              margin-left: 15px;
          }
      }

    </style>

  
  <div class="container">
    <h1>Shop <span class="bold">CBD</span></h1>
    <a class="top-box" href="">
                <h2 class="center">Tinctures and <span class="bold">Capsules</span></h2>
                <p class="max-width-p center">
                    Liquid tinctures with a <span class="bold">15mL</span> eyedropper for precise dosaging. <span class="bold">750mg</span> bottles of thirty <span class="bold">2.5mg gel capsules</span> for daily use. Our most popular products. Plain or infused with <span class="bold">MCT, vanilla, or mint</span>.</p>
        <shop-button>
                <button>Shop <span class="bold">Now</span></button>
            </shop-button>
    </a>

    <a class="lower-boxes concentrates" href="">
            <h2>Concentrates</h2><p class="center">
                Our most <span class="bold">versatile</span> products. Includes <span class="bold">Isolate, Isoterp, Wax, and Shatter</span> Perfect for dabbing or using in your own <span class="bold">CBD creation</span>.
               </p>
   
            <shop-button>
                    <button>Shop <span class="bold">Now</span></button>
           </shop-button>   
   
        </a>
       <a class="lower-boxes lotion" href="">
               <h2>Topicals</h2><p class="center">
                    <span class="bold">Lotions and topicals</span> are perfect for tissue pains and aches, such as Arthritis or Carpal Tunnel Syndrome. Provides a cooling sensation that helps to numb the <span class="bold">skin and joints</span>.
                   </p>
       
                <shop-button>
                        <button>Shop <span class="bold">Now</span></button>
               </shop-button>        
       </a>

    <a class="slim-box" href="">
            <h2 class="center">Wholesale</h2>
            <p class="max-width-p center">
                Start your own <span class="bold">CBD business</span> or slash your current CBD prices in half. <span class="bold">Prices per mg of CBD</span>, plus bottling and packaging fees. Available <span class="bold">pre-labeled or whitelabeled</span> for your own branding.
            </p>

            <shop-button>
                    <button>Learn <span class="bold">More</span></button>
                </shop-button>  

                </a>

    <a class="lower-boxes vape" href="">
            <h2>Vape</h2><p class="center">
                    Perfect for <span class="bold">e-ciggarrette smokers</span> looking to kick a tobacco habit. Invokes a <span class="bold">calming sensation</span>. Combines well with other cannabinoids.
                </p>
    
             <shop-button>
                    <button>Shop <span class="bold">Now</span></button>
            </shop-button>          
    </a>
    <a class="lower-boxes dog" href="">
            <h2>Pets</h2><p class="center">
                    The perfect way to help <span class="bold">Lassy and Beethoven</span> relax during fireworks, thunderstorms, travel, or otherwise. Comes as a delicious <span class="bold">bacon-flavored treat</span>.

                </p>
    
             <shop-button>
                    <button>Shop <span class="bold">Now</span></button>
            </shop-button>          
    </a>
    
  </div>

  </template>

  <script>

    class ShopShopCbd extends Polymer.Element {

      static get is() { return 'shop-shop-cbd'; }

      static get properties() { return {

        categories: {
          type: Array
        },

        visible: {
          type: Boolean,
          observer: '_visibleChanged'
        }

      }}

      _visibleChanged(visible) {
        if (visible) {
          this.dispatchEvent(new CustomEvent('change-section', {
            bubbles: true, composed: true, detail: {title: 'Shop CBD - CBD Oils, top-box, Lotions, and More'}}));
        }
      }

    }

    customElements.define(ShopShopCbd.is, ShopShopCbd);

  </script>

</dom-module>