<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="shop-category-data.html">
<link rel="import" href="shop-common-styles.html">
<link rel="import" href="shop-image.html">
<link rel="import" href="shop-list-item.html">

<dom-module id="shop-list">

  <template>

    <style include="shop-common-styles">

      :host {
        padding: 15px;
      }

      h1 {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 25px;
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 940px;
        position: relative;
        padding: 15px;
      }

      .grid {
        @apply --layout-horizontal;
        @apply --layout-wrap;
        @apply --layout-justified;
        margin: 0 10px 32px 10px;
        padding: 0;
        list-style: none;
      }

      .grid li {
        -webkit-flex: 1 1;
        flex: 1 1;
        -webkit-flex-basis: 33%;
        flex-basis: 33%;
        max-width: 33%;
      }

      .grid a {
        display:block;
        text-decoration: none;
      }

      @media (max-width: 1040px) {

        .container {
          padding: 10px;
        }

        .grid  li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }

    </style>

    <!--
      app-route provides the name of the category.
    -->
    <app-route
        route="[[route]]"
        pattern="/:category"
        data="{{routeData}}"></app-route>

    <!--
      shop-category-data provides the category data for a given category name.
    -->
    <shop-category-data
        id="categoryData"
        category-name="[[routeData.category]]"
        category="{{category}}"
        failure="{{failure}}"></shop-category-data>

    <div class="container">

    <header>
      <h1>[[category.title]]</h1>
      <span>[[_getPluralizedQuantity(category.items.length)]]</span>
    </header>

    <ul class="grid" hidden$="[[failure]]">
      <dom-repeat items="[[_getListItems(category.items)]]" initial-count="4">
        <template>
          <li>
            <a href$="[[_getItemHref(item)]]"><shop-list-item item="[[item]]"></shop-list-item></a>
          </li>
        </template>
      </dom-repeat>
    </ul>

    <!--
      shop-network-warning shows a warning message when the items can't be rendered due
      to network conditions.
    -->
    <shop-network-warning
        hidden$="[[!failure]]"
        offline="[[offline]]"
        on-try-reconnect="_tryReconnect"></shop-network-warning>

    </div>

  </template>

  <script>

    class ShopList extends Polymer.Element {

      static get is() { return 'shop-list'; }

      static get properties() { return {

        category: Object,

        route: Object,

        routeData: Object,

        visible: {
          type: Boolean,
          value: false
        },

        offline: {
          type: Boolean,
          observer: '_offlineChanged'
        },

        failure: Boolean

      }}

      static get observers() { return [
        '_categoryChanged(category, visible)'
      ]}

      connectedCallback() {
        super.connectedCallback();
        this.isAttached = true;
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.isAttached = false;
      }

      _getListItems(items) {
        // Return placeholder items when the items haven't loaded yet.
        return items || [{},{},{},{},{},{},{},{},{},{}];
      }

      _getItemHref(item) {
        // By returning null when `itemId` is undefined, the href attribute won't be set and
        // the link will be disabled.
        return item.name ? ['/detail', this.category.name, item.name].join('/') : null;
      }

      _getPluralizedQuantity(quantity) {
        if (!quantity) {
          return '';
        }
        let pluralizedQ = quantity === 1 ? 'item' : 'items';
        return  '(' + quantity + ' ' + pluralizedQ + ')';
      }

      _categoryChanged(category, visible) {
        if (!visible) {
          return;
        }
        this._changeSectionDebouncer = Polymer.Debouncer.debounce(this._changeSectionDebouncer,
          Polymer.Async.microTask, () => {
            if (category) {
              // Notify the category and the page's title
              this.dispatchEvent(new CustomEvent('change-section', {
                bubbles: true, composed: true, detail: {
                  category: category.name,
                  title: category.title
                }}));
            } else {
              this.dispatchEvent(new CustomEvent('show-invalid-url-warning', {
                bubbles: true, composed: true}));
            }
          });
      }

      _tryReconnect() {
        this.$.categoryData.refresh();
      }

      _offlineChanged(offline) {
        if (!offline && this.isAttached) {
          this._tryReconnect();
        }
      }

    }

    customElements.define(ShopList.is, ShopList);

  </script>

</dom-module>
