<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="shop-return-policy">

  <template>

    <style include="shop-app">

      :host {
        display: block;
        padding: 5px 15px 35px 15px;
        color: var(--app-secondary-color);
      }

      h1 {
        font-size: 45px;
        font-weight: 500;
        line-height: 115%;
        margin-top: 45px;
      }

      h3 {
          line-height: 115%;
      }

      a {
        color: var(--app-primary-color);
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 940px;
        position: relative;
        font-size: 1.15em;
      }

    </style>

  
  <div class="container">
    <h1>Return <span class="bold">Policy</span></h1>

    <p>By purchasing products through <a href="/">Pure CBD Exchange</a> you are demonstrating a clear understanding that we are sell products containing CBD (<a href="https://en.wikipedia.org/wiki/Cannabidiol">Cannabidiol</a>) from hemp oil.</p>

    <p><span class="bold">Statements made on this website have not been evaluated by the FDA</span> and are not intended to diagnose, treat or cure any disease. Always check with your physician before starting a new dietary supplement program. We are committed to complete compliance with FDA regulations and as such, because these products have not been evaluated by the FDA, we make no claims as to any benefits for products containing CBD (cannabidiol). If you decide to purchase our products, you are purchasing these products with a clear understanding of the present status of CBD (cannabidiol) products with the FDA.</p>

    <p class="bold">All <a href="/">Pure CBD Exchange</a> products purchased via retail, will only be accepted for return if unopened.</p>

    <p>Please follow the guidelines below to receive a full refund for any product listed below, minus the costs of shipping and handling.</p>

    <ol>
        <li>Obtain a RMA (Return Merchandise Authorization) from our support team by contacting us via any of the contact buttons on our website or by sending an email to <a href="mailto:support@purecbdexchange.com?subject=Return">support@purecbdexchange.com</a>.</li>
        <li>Ship items to the address provided by customer service.</li>
        <li>Provide a copy of your invoice or receipt when with the returning products. Email this receipt to our customer service and ship the box back unopened.</li>
        <li>4. Ship back product at your own expense. We may be willing to cover shipping costs if a return is required due to a mistake on our end.</li>
        <li>5. All returns must be shipped pre-paid through USPS, as <a href="/">Pure CBD Exchange</a> does not accept FedEx or UPS packages with tracking.  Risk of loss in shipping returned products falls completely on the shoulders of the customer. If returned products are not delivered in their original condition or products are lost during shipping, <a href="/">Pure CBD Exchange</a> reserves the right to refuse a refund for any returned item.</li>
    </ol>

    <p>By purchasing products on Pure CBD Exchange, you are agreeing to this return policy and submit to its compliance in the event that you need to return an item.</p>

  </div>

  </template>

  <script>

    class ShopReturnPolicy extends Polymer.Element {

      static get is() { return 'shop-return-policy'; }

      static get properties() { return {

        categories: {
          type: Array
        },

        visible: {
          type: Boolean,
          observer: '_visibleChanged'
        }

      }}

      _visibleChanged(visible) {
        if (visible) {
          this.dispatchEvent(new CustomEvent('change-section', {
            bubbles: true, composed: true, detail: {title: 'return Policy'}}));
        }
      }

    }

    customElements.define(ShopReturnPolicy.is, ShopReturnPolicy);

  </script>

</dom-module>